body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

#cover-img {
  width: 85%;
  max-width: 350px;
  margin-top: 40px;
}

h1, h2 {
  margin-top: 20px;
}

button {
  padding: 15px 25px;
  margin: 20px;
  font-size: 20px;
  border: none;
  background: #444;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #666;
}

#story-list button {
  width: 85%;
  max-width: 350px;
}

#bg-img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: 20px;
}

#choices button {
  display: block;
  width: 85%;
  max-width: 350px;
  margin: 15px auto;
}

#audio-box {
  margin: 20px 0;
}
